
<AuthorizeView>
    <Authorized>
        
        <div class="d-flex align-items-center login-display-content">
            <span class="fw-bold">Hello, @context.User.Identity?.Name</span>

            @* <form method="post" action="/Identity/Account/Logout" class="d-flex align-items-center ms-2 mt-2">
                <button type="submit" class="btn btn-outline-danger btn-sm">Log out</button>
            </form> *@
        </div>

    </Authorized>

    <NotAuthorized>
        <div class="d-flex align-items-center login-display-content">
            <a href="/Identity/Account/Register" class="btn btn-outline-primary btn-sm me-2">Register</a>
            <a href="/Identity/Account/Login" class="btn btn-outline-success btn-sm">Log in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>
